*			{ margin:0; padding:0 }
body		{ font-family: '맑은 고딕' 돋움; font-size:0.75em; color:#333 }
ul, ol, dl	{ list-style-type: none }
			
.tab-box {
	width: 520px;
	margin: 100px auto;
	
}

.tab-box ul {
	height: 24px;
}

.tab-box ul li {
	float: right;

	width: 100px;
	height: 22px;
	margin-right: 2px;
	
	border:1px solid #999;
	border-radius: 10px 10px 0 0;
	
	text-align: center;
	line-height: 22px;
	
	background-color: #ccc;
	cursor: pointer;
}

.tab-box ul li.selected {
	background-color: #fc6;
}

.tab-box div {
	width: 516px;
	height: 200px; 
	margin-top: -1px;
	
	text-align: center;
	line-height: 200px;
	
	border: 1px solid #999;
}